.navButtons{
    border-radius: 5px;
    background-color: #647a67;
    color: white;
    padding: 5px;
    border: none;
    transition: 0.3s;
}
.navButtons:hover{
    background-color: #8fa38a;
    scale: 1.25;
    cursor: pointer;
}
.navHeader{
    background-color: #8fa38a;
    color: white;
    padding: 10px;
    text-align: center;
}
.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.button-container {
    display: flex;
    justify-content: center; 
    width: 100%;
    margin-top: 20px;
}
.navLogin{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: inherit;
    justify-content: flex-end;
    transition: 0.3s;
}
.navLogin:hover{
    scale: 1.25;
}
.navIcon{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
}
.navMenu {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.switch-button {
    background-color: #478A8B;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: auto; 
    border: none;
    color: white;
}

.login-form {
    width: 300px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.input {
    width: 92%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}
.dropdownItem{
    border-radius: 5px;
    background-color: #75858A;
    color: white;
    padding: 5px;
    border: none;
}
.pr_container{
    padding: 20px;
    font-family: Arial;
}
.pr_section{
    margin-bottom: 40px;
}
.pr_sectionTitle{
    font-size: 24px;
    margin-bottom: 20px;
}
.pr_list{
    list-style: none;
    padding: 0;
}
.pr_item{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.pr_addReviewContainer{
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.pr_ratingContainer{
    display: flex;
    margin-bottom: 20px;
}
.pr_textArea{
    width: 95.5%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    resize: none;
}
.pr_button{
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.reviewStars{
    font-size: 24px;
    cursor: pointer;
    transition: color 200ms;
    margin-top: 6px;
}
.homeContainer {
    
}
